<!-- Footer -->
<footer class="footer-area pt-100 pb-75">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h2>
                        <a routerLink="/"> TeleMediCare  </a>
                    </h2>
                    <p>
                        Our vision is to provide the right care, at the right place, at the right time.
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-2 col-sm-6">
                <div class="single-footer-widget ps-5">
                    <h3>Useful Link</h3>
                    <ul class="quick-links">
                        <li>
                            <a routerLink="/about-us">About Us</a>
                        </li>
                        <li>
                            <a routerLink="/services">Our Services</a>
                        </li>
                        <li>
                            <a routerLink="/doctors">Doctors</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Contact Information</h3>
                    <ul class="footer-information">
                        <li>
                            <i class="flaticon-039-emergency-call"></i>
                            Call Today
                            <span
                                ><a href="tel:088123654987"
                                    >+61 123 654 987</a
                                ></span
                            >
                        </li>
                        <li>
                            <i class="flaticon-040-back-in-time"></i>
                            Open Hour
                            <span>09:00 AM to 18:00 PM</span>
                        </li>
                        <li>
                            <i class="flaticon-041-placeholder"></i>
                            Our Location
                            <span>Ellengowan Dr, Casuarina NT 0810</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Copyright -->
<div class="copyright-area">
    <div class="container">
        <div class="copyright-area-content"></div>
    </div>
</div>
