
<div
    class="features-area pt-100 pb-75 d-none d-block"
>
    <div class="container">
        <div class="section-title">
            <span class="sub-title">
                <i class="flaticon-198-hashtag-1"></i>
                Our Features
            </span>
            <h2>Our Clients are Our Priority, We Offer Quality Health Services from Specialists</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="single-features-box">
                    <div class="content">
                        <div class="icon">
                            <i class="flaticon-157-caduceus"></i>
                        </div>
                        <h3>
                            <a routerLink="/service-details">
                                Quality Services
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-features-box">
                    <div class="content">
                        <div class="icon">
                            <i class="flaticon-158-policy"></i>
                        </div>
                        <h3>
                            <a routerLink="/service-details">
                                Certified Doctors and Specialists
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-features-box">
                    <div class="content">
                        <div class="icon">
                            <i class="flaticon-160-diamond-1"></i>
                        </div>
                        <h3>
                            <a routerLink="/service-details">
                                Experience
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-features-box">
                    <div class="content">
                        <div class="icon">
                            <i class="flaticon-161-hospitalisation"></i>
                        </div>
                        <h3>
                            <a routerLink="/service-details">
                                Patient Care
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

