h4 {
    margin-left: 20px;
    font-weight: 500;
}
.mat-mdc-paginator {
    border: 1px solid #f0f0f0;
    border-radius: 6px;
}

.mat-mdc-cell,
.mat-mdc-header-cell {
    border-bottom: 1px solid #f0f0f0 !important;
    vertical-align: middle;
}
.search-div {
    position: relative;
    .search-input-container {
        position: relative;
        margin-left: 20px;
        margin-right: 20px;

        input {
            padding: 6px 112px 6px 15px;
            width: 100%;
            border-radius: 6px;
            border: 1px solid #f0f0f0;
            color: #6b7280;
            font-weight: 500;
        }
        .button-close {
            position: absolute;
            top: 9px;
            right: 10px;
            padding: 0;
            border: none;
            background: none;
            cursor: pointer;
            color: #6b7280;
        }
    }
}
.scroll-table{
    overflow-x: auto;
}
.table-container {
    margin: 20px;
    

    .mat-mdc-table {
        border-radius: 6px;
        border: 1px solid #f0f0f0;
        z-index: 1;
    }
}
.table-action {
    min-width: 130px;
    .button-print {
        background-color: #1194f71f !important;
        color: #2196f3 !important;
        padding-inline: 0.5rem;
        border-radius: 6px;
        outline: none;
        box-shadow: none;
        border: none;
        margin-inline: 0.2 rem;
        i {
            display: inline;
            text-align: center;
            vertical-align: middle;
            margin-right: 2px;
        }
    }
    .button-view {
        background-color: #02b6b31f !important;
        color: #1db9aa !important;
        padding-inline: 0.5rem;
        border-radius: 6px;
        outline: none;
        box-shadow: none;
        border: none;
        margin-inline: 0.2rem;
        i {
            display: inline;
            text-align: center;
            vertical-align: middle;
            margin-right: 2px;
        }
    }
    .button-cancel {
        background-color: #f211361f !important;
        color: #e63c3c !important;
        padding-inline: 0.5rem;
        border-radius: 6px;
        outline: none;
        box-shadow: none;
        border: none;
        margin-inline: 0.2rem;
        
    }
}
.mat-mdc-row:hover{
    background-color: #f3f3f3e3 !important;
}