
<h4>{{title}}</h4>
<div class="search-div">
    <div class="search-input-container">
        <input
        (keyup)="tableFilter()"
        [(ngModel)]="searchValue"
        placeholder="Search"
      />
      <button
        *ngIf="searchValue"
        (click)="searchValue = ''"
        class="button-close"
      >
        <i class="flaticon-036-close"></i>
      </button>
    </div>
      
  </div>
  <div class="table-container" *ngIf="type === 'generic'">
    <div class="scroll-table">
      <table
      mat-table
      [dataSource]="data"
      matSort
      (matSortChange)="announceSortChange($event)"
      class="table"
    >
      <ng-container *ngFor="let head of header" matColumnDef="{{head}}">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          {{head}}
        </th>
        <td mat-cell *matCellDef="let element" >{{ element[head] }}</td>
      </ng-container>
      <ng-container matColumnDef="Action">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Action
        </th>
        <td mat-cell *matCellDef="let element" >
          <div class="table-action">
            <button class="button-view"><i class="flaticon-189-view"></i>View</button>
            <button class="button-print"><i class="flaticon-158-policy" ></i>Print</button>
          </div>
          
        </td>
      </ng-container>
  
      
  
      <tr mat-header-row *matHeaderRowDef="header2"></tr>
      <tr mat-row  *matRowDef="let row; columns: header2"></tr>
    </table>
    </div>
    
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
    ></mat-paginator>
  </div>

  <div class="table-container" *ngIf="type === 'appointment'">
    <div class="scroll-table">
      <table
      mat-table
      [dataSource]="data"
      matSort
      (matSortChange)="announceSortChange($event)"
      class="table"
    >
      <ng-container *ngFor="let head of header" matColumnDef="{{head}}">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          {{head}}
        </th>
        <td mat-cell *matCellDef="let element" >{{ element[head] }}</td>
      </ng-container>
      <ng-container matColumnDef="Action">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Action
        </th>
        <td mat-cell *matCellDef="let element" >
          <div class="table-action">
            <button class="button-cancel">Cancel</button>
          </div>
          
        </td>
      </ng-container>
  
      
  
      <tr mat-header-row *matHeaderRowDef="header2"></tr>
      <tr mat-row  *matRowDef="let row; columns: header2"></tr>
    </table>
    </div>
    
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
    ></mat-paginator>
  </div>
  
  
  