<!-- Default Services Section -->
<div
    class="services-area pb-75"
>
    <div class="container">
        <div class="section-title-warp">
            <span class="sub-title">
                <i class="flaticon-198-hashtag-1"></i>
                Our Best Tele-Health Services
            </span>
            <h2>Enjoy Specialized Care Through Precision, Artistry, and Experience</h2>
            <a routerLink="/services" class="default-btn">View All</a>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/services" class="d-block">
                            <img src="assets/images/services/services-1.jpg" alt="services-image">
                        </a>
                    </div>
                    <div class="services-content">
                        <div class="icon">
                            <a routerLink="/services">
                                <i class="flaticon-146-dentist-chair"></i>
                            </a>
                        </div>
                        <h3>
                            <a routerLink="/services">
                                General Dentistry
                            </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/services" class="d-block">
                            <img src="assets/images/services/services-2.jpg" alt="services-image">
                        </a>
                    </div>
                    <div class="services-content">
                        <div class="icon">
                            <a routerLink="/services">
                                <i class="flaticon-073-doctor-1"></i>
                            </a>
                        </div>
                        <h3>
                            <a routerLink="/services">
                                General Practitioner
                            </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/services" class="d-block">
                            <img src="assets/images/services/services-3.jpg" alt="services-image">
                        </a>
                    </div>
                    <div class="services-content">
                        <div class="icon">
                            <a routerLink="/services">
                                <i class="flaticon-092-pills-bottle"></i>
                            </a>
                        </div>
                        <h3>
                            <a routerLink="/services">
                                Gastrologists
                            </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/services" class="d-block">
                            <img src="assets/images/services/services-4.jpg" alt="services-image">
                        </a>
                    </div>
                    <div class="services-content">
                        <div class="icon">
                            <a routerLink="/services">
                                <i class="flaticon-060-ultrasound-machine"></i>
                            </a>
                        </div>
                        <h3>
                            <a routerLink="/services">
                                Endocrinologists
                            </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/services" class="d-block">
                            <img src="assets/images/services/services-5.jpg" alt="services-image">
                        </a>
                    </div>
                    <div class="services-content">
                        <div class="icon">
                            <a routerLink="/services">
                                <i class="flaticon-094-heart-2"></i>
                            </a>
                        </div>
                        <h3>
                            <a routerLink="/services">
                                Cardiologists
                            </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/services" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                    </div>
                    <div class="services-content">
                        <div class="icon">
                            <a routerLink="/services">
                                <i class="flaticon-090-lunges"></i>
                            </a>
                        </div>
                        <h3>
                            <a routerLink="/services">
                                Pulmonologist
                            </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
