<div class="row">
    <div class="col-12 col-md-12">
        <div class="mb-3">
            <div class="change-img">
                <div class="profile-img">
                    <img src="../../../../../assets/images/user/user-1.jpg">
                </div>
                <div class="upload-img">
                    <div class="upload-button">
                        <span>Upload Photo</span>
                        <input type="image" value="">
                    </div>
                    <small>Allowed JPG, GIF or PNG. Max size of 2MB</small>
                </div>
            </div>
        </div>
    </div>
        <div class="col-12 col-md-6">
            <div class="mb-3">
                <label>Name</label>
                <input type="text" class="form-control" value="Anthony Hawkins">
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="mb-3">
                <label>Date of Birth</label>
                <input type="date" class="form-control">
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="mb-3">
                <label>Email</label>
                <input type="email" class="form-control" value="Anthony.Hawkins@email.com">
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="mb-3">
                <label>Phone</label>
                <input type="number" class="form-control" value="0441231239">
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="mb-3">
                <button class="save-button">Save</button>
            </div>
        </div>
</div>