.appointment-list{
    border: 1px solid #f0f0f0;
    margin-block: 20px;
    padding: 20px;
    border-radius: 4px;
    .profile-info{
        margin-right: auto;
        text-align: left;
        display: flex;
        .booking-patient-img{
            margin-right: 15px;
            cursor: pointer;
            img{
                height: 120px;
                object-fit: cover;
                width: 120px;
                border-radius: 4px;
            }
        }
        .profile-detail{
            display: block;
            h3{
                font-size: 0.9rem;
                font-weight: 400;
            }
            .details{
                h5{
                    font-size: 0.8em;
                    font-weight: 400;
                    color: #757575;
                }
            }
        }
    }
    .appointment-action{
        display: flex;
        margin-top: 10px;
        .button{
            padding-inline: 0.5rem;
            padding-block: 0.25rem;
            font-size: 0.75em;
            cursor: pointer;
        }
        .view-btn{
            background-color: #02b6b31f!important;
            color: #1db9aa!important;
        }
        .accept-btn{
            background-color: #0fb76b1f!important;
            color: #26af48!important;
            margin-left: 5px;
        }
        .cancel-btn{
            background-color: #f211361f!important;
            color: #e63c3c!important;
            margin-left: 5px;
        }

    }
}