.stickybar {
    top: 80px;
    position: sticky;
    z-index: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    .profile-sidebar {
        background-color: #fff;
        border: 1px solid #f0f0f0;
        margin-bottom: 30px;
        overflow: hidden;
        border-radius: 4px;
        .profile-info-widget {
            display: block !important;
            text-align: center !important;
            border-bottom: 1px solid #f0f0f0;
            .dashboard-img {
                display: inline-block;
                width: auto;
                background-color: #f7f7f7;
                margin: 0 0 15px !important;
                padding: 8px;
                border-radius: 50%;
                .user-image {
                    height: 120px !important;
                    width: 120px !important;
                    border-radius: 50% !important;
                    object-fit: cover;
                }
            }
            h4 {
                font-weight: 300;
            }
        }
        .dashboard-widget {
            .dashboard-menu {
                display: block;
                ul {
                    color: #757575;
                    font-size: 14px;
                    line-height: 17px;
                    list-style: none;
                    text-transform: capitalize;
                    margin: 0;
                    padding: 0;
                    li {
                        border-bottom: 1px solid #f0f0f0;
                        position: relative;
                        a {
                            color: #757575;
                            display: block;
                            padding: 16px 20px;
                            i {
                                display: inline-block;
                                vertical-align: middle;
                                font-size: 16px;
                                margin-right: 10px;
                                width: 16px;
                                
                            }
                            
                        }
                        :hover {
                            cursor: pointer;
                            color: rgb(6, 163, 218);
                        }
                        
                    }
                }
            }
        }
    }
}
.card{
    border: 1px solid #f0f0f0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    .card-body{
        padding: 0px;
    }
}
.active {
    color: rgb(6, 163, 218) !important;
}