<div class="page-banner-area ptb-100">
    <div class="container">
        <div class="page-banner-content">
            <h2>Patient Dashboard</h2>
            <ul class="pages-list">
                <li><a routerLink="/index">Home</a></li>
                <li>Dashboard</li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-5 col-lg-4 col-xl-3">
            <div class="stickybar">
                <div class="profile-sidebar">
                    <div class="profile-info-widget">
                        <a class="dashboard-img">
                            <img
                                src="../../../../assets/images/user/user-1.jpg"
                                class="user-image"
                            />
                        </a>
                        <h4>Anthony Hawkins</h4>
                    </div>
                    <div class="dashboard-widget">
                        <nav class="dashboard-menu">
                            <ul>
                                <li>
                                    <a
                                    (click)="menu = 'appointment'"
                                    [ngClass]="{'active': menu === 'appointment'}"
                                        ><i class="flaticon-071-receipt"></i
                                        ><span>Appointment</span></a
                                    >
                                </li>
                                <li>
                                    <a
                                    (click)="menu = 'prescription'"
                                    [ngClass]="{'active': menu === 'prescription'}"
                                        ><i class="flaticon-095-medicine"></i
                                        ><span>Prescription</span></a
                                    >
                                </li>
                                <li>
                                    <a
                                    (click)="menu = 'records'"
                                    [ngClass]="{'active': menu === 'records'}"
                                        ><i class="flaticon-088-medical-app"></i
                                        ><span>Medical Records</span></a
                                    >
                                </li>
                                <li>
                                    <a
                                    (click)="menu = 'profile'"
                                    [ngClass]="{'active': menu === 'profile'}"
                                        ><i class="flaticon-042-user"></i
                                        ><span>Edit Profile</span></a
                                    >
                                </li>
                                <li>
                                    <a
                                        (click)="logout()"
                                        routerLink="/index"
                                        ><i class="flaticon-036-close"></i
                                        ><span>Logout</span></a
                                    >
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-lg-8 col-xl-9">
            <div class="card">
                <div class="card-body pt-0">
                    <app-table *ngIf="menu ==='appointment'"
                        [title]="'Appointment'"
                        [data]="data"
                        [header]="header"
                        [type]="'appointment'"
                    ></app-table>
                    <app-table *ngIf="menu ==='prescription'"
                        [title]="'Prescription'"
                        [data]="dataPrescription"
                        [header]="headerPrescription"
                        [type]="'generic'"
                    ></app-table>
                    <app-table *ngIf="menu ==='records'"
                        [title]="'Medical Records'"
                        [data]="dataRecords"
                        [header]="headerRecords"
                        [type]="'generic'"
                    ></app-table>
                    <app-edit-profile *ngIf="menu === 'profile'"></app-edit-profile>
                </div>
            </div>
        </div>
    </div>
</div>
